Library
Temp
*.csproj
*.sln
*.pidb
*.userprefs
**/*.xcodeproj/*
!**/*.xcodeproj/project.pbxproj
!**/*.xcworkspace/contents.xcworkspacedata
*.iml
.gradle/
.idea/
plugins/Android/gradle_build/libs/
plugins/Android/gradle_build/src/